.mainBody {
    margin-left: 0;
    transition: margin-left .5s;
    overflow-x: hidden;
    color: white;
}

.main {
    background-color: #FFFFFF;
    width: 40%;
    height: auto;
    padding-bottom: 20px;
    margin-top: 6%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    height: 100px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(88, 15, 15));
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    margin-left: 0;
    transition: margin-left .5s;
    overflow-x: hidden;
}

.header .col-lg-1 {
    align-self: center;
}

.header h1 {
    margin-top: 35px;
    color: white;
    text-align: center;
}

.header img {
    height: 150px;
    width: auto;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(88, 15, 15));
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #00eeff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icon {
    display: flex;
    padding-left: 50px;
    padding-top: 35px;
    color: white;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.chat {
    width: 400px !important;
    height: 550px !important;
    position: fixed;
    bottom: 0;
    right: 0;
    border-width: 2px;
    border-color: #00eeff;
    transition: 0.5s;

}

.chat.folded {
    height: 40px !important;
}

.chat .panel {
    position: relative;
    height: inherit;
    border-width: 2px !important;
    border-color: #4e0a0a !important;
    border-radius: 7px;
    box-shadow: 10px 5px 5px white;
    box-shadow: white 0px 5px 15px;
}

.chat-header {
    display: table;
    height: 40px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(88, 15, 15));
}

.chat-header * {
    margin-top: 5px;
}

.chat-header h5 {
    color: #00eeff;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
}

.chat-header a {
    color: white;
    display: inherit;
    margin-left: auto;
    margin-right: 20%;
}

.chat-header.folded {
    bottom: 0;
}

.chat-body .sent-message {
    width: 100%;
    height: fit-content;
}

.chat-body .sent-message p {
    width: fit-content;
    max-width: 65%;
    height: fit-content;
    padding: 10px;
    color: white;
    border: 2px solid #be1818;
    text-align: right;
    border-radius: 10px;
    background-color: #e25555;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-body .received-message {
    width: 100%;
    height: fit-content;
}

.chat-body .received-message p {
    width: fit-content;
    max-width: 65%;
    height: fit-content;
    padding: 10px;
    color: white;
    border: 2px solid #161515;
    text-align: left;
    border-radius: 10px;
    background-color: #332f2f;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-body.folded {
    display: none !important;
}

.chat-footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid #4e0a0a;
}

.chat-footer input {
    width: 95%;
    color: white;
    border: 2px solid #be1818 !important;
    border-radius: 20px;
    padding: 10px;
    margin-left: 2.5%;
    background-color: #e25555;
}

.chat-footer input:focus {
    outline: none !important;
    border: 2px solid !important;
    background-color: #e25555;
}

.chat-footer input::placeholder {
    color: white !important;
}

.chat-footer.folded {
    display: none !important;
}

.folded {
    transition: 0.5s;
}

.chat-info {
    color: white;
    border-bottom: 2px solid #161515;
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.chat-info:hover {
    background-color: #818181;
}   

.profileBlock {
    margin-left: 25%;
}

.profileBlock .row {
    height: 75px;
    text-align: center;
    --bs-gutter-x: 0;
}

.profileBlock .row .buttonText:hover {
    background-color: #818181;
}

.profileBlock .row .buttonText {
    margin-top: 25px;
    cursor: pointer;
    border: 2px solid #161515;
}

.profileBlock .profileInfo {
    text-align: left;
}

a.profileInfo {
    margin-left: 0;
}

a:hover {
    color: white !important;
}

.profileBlock img:hover{
    cursor: pointer;
    opacity: 0.6;
}

.username {
    color: white!important;
    font-weight: bold;
}

.post {
    height: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border: 2px solid #161515;
    justify-content: center;
}

.post:hover {
    background-color: #818181;
}

.post img {
    height: 300px;
    width: auto;
    border-radius: 15%;
}

.post p {
    color: #ffffff !important;
}

.post a {
    margin:0;
}

/* SCROLLBARS */
.panel ::-webkit-scrollbar {
    width: 5px;
}

.panel ::-webkit-scrollbar-track {
    background: #332f2f;
}

.panel ::-webkit-scrollbar-thumb {
    background: #4e0a0a;
}

.panel ::-webkit-scrollbar-thumb:hover {
    background: rgb(165, 24, 24);
}


.un {
    width: auto;
    margin: auto;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
}

.userPic {
    border-radius:35%;
}

.postInfo {
    border: 1px solid #161515;
}

.postInfo a{
    margin-left: 0;
}

.postInfo .row {
    height: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.postInfo .postImage {
    height: 400px;
    width: auto;
    border-radius: 10%;
}

.post-writer {
    border-top: 2px solid #4e0a0a;
    border-left: 1px solid #161515;
    border-right: 1px solid #161515;
}

.post-writer input {
    width: 95%;
    color: white;
    border: 2px solid #be1818 !important;
    border-radius: 20px;
    padding: 10px;
    margin-left: 2.5%;
    background-color: #e25555;
}

.post-writer input:focus {
    outline: none !important;
    border: 2px solid !important;
    background-color: #e25555;
}

.post-writer input::placeholder {
    color: white !important;
}

.postComments {
    border: 1px solid #161515;
}

.postComments a{
    margin-left:0;
}

.postComments .row {
    --bs-gutter-x: 0;
}

.comment {
    border-bottom: 1px solid #161515;
}

.comment .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal {
    background-color: rgba(255,255,255,0.5);
}

.modal-content {
    background-color: #332f2f;
}

.modal-body input{
    background-color:#4e0a0a;
    color:#ffffff;
    border:2px solid #161515;
    width: auto;
    margin: auto;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}


button[type=submit] {
    width: auto;
    margin: auto;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(88, 15, 15));
    border: 0;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    font-size: 13px;
    padding: 10px 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
    transition: 0.2s;
}
.modal-body input:focus{
    border:2px solid #ffffff;
}

.btnSave {
    background-color:#4e0a0a;
    border:1px solid #161515;
}

.btnSave:hover {
    background-color:#4e0a0a!important;
    border:1px solid #161515!important;
}

.errorMsg {
    color:white;
    display: none;
}

.carousel a{
    margin:0;
}

.carousel .row{
    --bs-gutter-x:0;
}

.data {
    text-align: end;
}

.follower {
    border-bottom: 1px solid #161515;
}

.follower:hover {
    background-color: #332f2f;
}

.btnFollow {
    width: auto;
    margin: auto;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(88, 15, 15));
    border: 0;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;
    font-size: 13px;
    padding: 10px 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
}

.btnFollow:hover {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(88, 15, 15));
    transition: 0.3s;
}

.imgPost{
  padding: 5px;
  max-width: 400px;
  max-height: 400px;
}

.btn-reenviar{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(88, 15, 15));
    border-radius: 20px;
    color: #fff;
}

#btn-data-line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
}

.usuari{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.imagenCabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagenCabecera *{ 
    align-content: center;
}
.imgTodo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imgTodo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfilImagen{
    max-width: 200px;
    max-height: 200px;
    border-radius: 150px;
    margin: 10px;
}

.contenedor{
    display: grid;
    justify-content: center;
    align-items: center;
}

.imgDescripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgPubli{
    width: 300px !important;
    height: 300px !important;
}